@model IEnumerable<BoutiqueEnLigne.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="listeproduits">
    <div class="tetedeliste">
        <div class="itemdelistebtn">@Html.DisplayNameFor(model => model.Id)</div>
        <div class="itemdeliste">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="itemdeliste">@Html.DisplayNameFor(model => model.FirstName) </div>
        <div class="itemdeliste"></div>
        <div class="itemdelistebtn"></div>
        <div class="itemdelistebtn"></div>
        <div class="itemdelistebtn"></div>
    </div>

    <div class="corpdeliste">
        @foreach (var item in Model)
        {
            <div class="produitliste">
                <div class="itemdelistebtn">@item.Id</div>
                <div class="itemdeliste">@item.Name</div>
                <div class="itemdeliste">@item.FirstName</div>
                <div class="itemdeliste"></div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="User" asp-action="Detail" asp-route-id="@item.Id">Détail</a></div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur?');">Supprimer</a></div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="User" asp-action="Update" asp-route-id="@item.Id">Màj</a></div>
            </div>
        }
    </div>
</div>

