@model BoutiqueEnLigne.Models.ProductViewModel

@{
    ViewData["Title"] = "Detail";
    string image = Model.Name;
    image += ".png";
}

<div class="detailproduit">
    <dl>
        <dd class="col-sm-12 imgproduit">
            <img class="img-fluid" src="../../Images/Product/@image" alt="photo de @Model.Name" />
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Price) €
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.StockDispo)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.StockDispo)
        </dd>
        <div class="itemdelistebtn"><a class="btn btn-outline-primary w-100" asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id">Modifier</a></div>
        <div class="itemdelistebtn"><a class="btn btn-outline-danger w-100" asp-controller="Product" asp-action="Index">Retour</a></div>
    </dl>
</div>
