@model BoutiqueEnLigne.Models.ProductViewModel

@{
    ViewData["Title"] = "Detail";
    string image = Model.Name;
    image += ".png";
    var userFirstName = Context.Session.GetString("Prenom");
}

<div class="detailproduit">
    <dl>
        <dd class="col-sm-12 imgproduit">
            <img class="img-fluid" src="../../Images/Product/@image" alt="photo de @Model.Name" />
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-5">
            @Model.Name
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.CategoriesList)
        </dt>
        <dd class="col-sm-5">
            @if (Model.CategoriesList != null && Model.CategoriesList.Any())
            {
                <ul>
                    @foreach (var categoryProduct in Model.CategoriesList)
                    {
                        <li><a asp-controller="Category" asp-action="Detail" asp-route-id="@categoryProduct.CategoryId">@categoryProduct.Category.Name</a></li>
                    }
                </ul>
            }
            else
            {
                <p>Aucune catégorie associée à ce produit.</p>
            }
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-5">
            @Model.Description
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-5">
            @Model.Price €
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.StockDispo)
        </dt>
        <dd class = "col-sm-5">
            @Model.StockDispo
        </dd>
        <input type="hidden" asp-for="Id" />
                        @if (User.HasClaim("Admin", "True"))
                {
        <div class="itemdelistebtn"><a class="btn btn-outline-primary w-100" asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id">Modifier</a></div>
                }
         @if (!string.IsNullOrEmpty(userFirstName))
                            {
            <div class="itemdelistebtn"><a class="btn btn-outline-success w-100" asp-controller="Order" asp-action="AddProductToCart">Ajouter au panier</a></div>
                }
        <div class="itemdelistebtn"><a class="btn btn-outline-danger w-100" asp-controller="Product" asp-action="Index">Retour</a></div>
    </dl>
</div>
