@model IEnumerable<BoutiqueEnLigne.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="listeproduits">
    <div class="tetedeliste">
        <div class="itemdeliste">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="itemdeliste">@Html.DisplayNameFor(model => model.Price) </div>
        <div class="itemdeliste">@Html.DisplayNameFor(model => model.StockDispo)</div>
        <div class="itemdelistebtn"></div>
        <div class="itemdelistebtn"></div>
        <div class="itemdelistebtn"></div>
    </div>

        <div class="corpdeliste">
            @foreach (var item in Model)
        {   
            <div class="produitliste">
                <div class="itemdeliste">@item.Name</div>
                <div class="itemdeliste">@item.Price </div>
                <div class="itemdeliste">@item.StockDispo</div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">Détail</a></div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a></div>
                <div class="itemdelistebtn"><a class="btn btn-primary w-100" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Màj</a></div>
            </div>
        }
        </div>
<a class="btn btn-success" asp-controller="Product" asp-action="Add">Ajouter un nouveau Produit</a>
</div>           

